@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Ubuntu:ital,wght@0,400;1,700&display=swap');
 :root {
    --primary-color: #ffa500;
    --Hex: #581845;
    --white: #f9edd8;
    /*--width-break: 600px;*/
}

body {
    margin: 0;
    background: url("images/geometric-intersection.svg") no-repeat;
    background-size: cover;
}

.nav {
    background-color: var(--primary);
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-size: 5rem;
    padding: 5rem;
    margin: auto;
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    border-color: midnightblue;
}

.heading {
    /*background-color: var(--primary-color);*/
}

.logo {
    width: 130px;
    height: 85px;
}

.header-txt {
    text-align: center;
    padding: 2rem;
    font-size: xx-large;
    margin: 0px auto;
    color: var(--Hex);
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

.container {
    width: 800px;
    height: 18vh;
    margin: 0px auto;
}

.btn {
    width: 20rem;
    margin: 10px 225px;
    padding: 1rem;
    height: 10vh;
    font-family: 'Gluten', cursive;
    border-color: var(--white);
    background-color: var(--primary-color);
    font-size: large;
    color: var(--Hex);
    text-align: center;
}

.section {
    text-align: center;
    padding: 1rem;
    width: 550px;
    margin: 0px auto;
    height: 3rem;
    font-family: 'Gluten', cursive;
    color: var(--Hex);
}

.output {
    border: 1px solid black;
    width: 80%;
    height: 8vh;
    margin: auto;
    padding: 1rem;
    border-color: midnightblue;
    background: #fff;
}

.footer {
    text-align: center;
    padding: 0 200px;
    font-size: medium;
    color: var(--blue);
    /*background-color: var(--primary-color);*/
}

.footer-txt {
    text-align: center;
    padding-top: 1rem;
}